/*-----------------------------------*\
  #O-BUTTON
\*-----------------------------------*/
.o-button {
  padding: 0.8rem 2.75rem;
  border-radius: 2.8rem;
  background-color: var(--neutral1);
  color: var(--neutral3);
  font-size: var(--smaller-x1-fs);
  line-height: 2.8rem;

}
@media (min-width: 770px) {
  .o-button {
    padding: 1.4rem 4.5rem;
  }
}

.o-button:active {
  background-color: var(--color1);
}


/*-----------------------------------*\
  #O-LOGO
\*-----------------------------------*/
.o-logo {
  width: 4.8rem;
}
@media (min-width: 770px) {
  .o-logo {
    width: 6.4rem;
  }
}


/*-----------------------------------*\
  #O-AVATAR
\*-----------------------------------*/


/*-----------------------------------*\
  #O-ARROW
\*-----------------------------------*/

/* RIGHT */

/* LEFT */


/*-----------------------------------*\
  #C-NAV
\*-----------------------------------*/
.c-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/*-----------------------------------*\
  #C-HOME
\*-----------------------------------*/
.c-home__content {
  text-align: center;
  max-width: 75.2rem;
  margin: 0 auto 3.2rem;
}
@media (min-width: 770px) {
  .c-home__content {
    margin: 0 auto 6.4rem;
  }
}
@media (min-width: 1100px) {
  .c-home__content {
    margin: 0 auto 8rem;
  }
}

.c-home__main-title {
  font-size: var(--bigger-x3-fs);
  margin-bottom: 2.7rem;
  line-height: 4.5rem;
}
@media (min-width: 770px) {
  .c-home__main-title {
    line-height: 5.5rem;
  }
}
@media (min-width: 1100px) {
  .c-home__main-title {
    line-height: 7rem;
  }
}

.c-home__grid {
  display: grid;
  justify-content: center;
  gap: 2.4rem;
  grid-template-columns: repeat(2, 15.9rem);
  grid-template-rows: repeat(6, 18.2rem);
  grid-template-areas: 
    'gd gd'
    'gd gd'
    'ui ap'
    'il il'
    'ph ph'
    'mg mg';
}
@media (min-width: 700px) {
  .c-home__grid {
    grid-template-columns: repeat(4, 15.9rem);
    grid-template-rows: repeat(3, 18.2rem);
    grid-template-areas: 
      'gd gd ui ap'
      'gd gd il il'
      'ph ph mg mg';
  }
}
@media (min-width: 1100px) {
  .c-home__grid {
    grid-template-columns: repeat(6, 15.9rem);
    grid-template-rows: repeat(2, 18.2rem);
    grid-template-areas: 
      'gd gd ui ap ph ph'
      'gd gd il il mg mg';
  }
}

.c-home__box {
  position: relative;
  padding: 2.4rem;
  border-radius: 0.8rem;
  color: #FFFFFF;
}

.c-home__box:nth-child(1) {
  grid-area: gd;
  background-color: var(--color1);
}

.c-home__box:nth-child(2) {
  grid-area: ui;
  background-color: var(--color2);
}

.c-home__box:nth-child(3) {
  grid-area: ap;
  background-color: var(--color3);
}

.c-home__box:nth-child(4) {
  grid-area: il;
  background-color: var(--color4);
}

.c-home__box:nth-child(5) {
  grid-area: ph;
  background-color: var(--color5);
}

.c-home__box:nth-child(6) {
  grid-area: mg;
  background-color: var(--color6);
}

.c-home__box-title {
  position: absolute;
  bottom: 2.4rem;
  left: 2.4rem;
  line-height: 3rem;
  font-size: 2.4rem;
}

.c-home__box-img {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
}



/*-----------------------------------*\
  #C-ME
\*-----------------------------------*/

@media (min-width: 770px) {
  .l-me .o-avatar {
    flex: 1;
    translate: -8rem;
  }
}
@media (min-width: 1100px) {
  .l-me .o-avatar {
    translate: 0;
    max-width: 44.5rem;
  }
}

.c-me__content {
  text-align: center;
  flex: 1;
  max-width: 54rem;
}

.c-me__title {
  margin-bottom: 3.4rem;
  font-size: var(--bigger-x2-fs);
  line-height: 3.2rem;
  flex: 1;
}
@media (min-width: 770px) {
  .c-me__title {
    line-height: 4rem;
  }
}
@media (min-width: 1100px) {
  .c-me__title {
    line-height: 5rem;
  }
}

.c-me__desc {
  margin-bottom: 2.4rem;
}
@media (min-width: 1100px) {
  .c-me__desc {
    margin-bottom: 3.2rem;
  }
}



/*-----------------------------------*\
  #C-WORK
\*-----------------------------------*/


/*-----------------------------------*\
  #C-CONTACT
\*-----------------------------------*/